gradle-wrapper.jar
/.gradle
/.idea
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

app/debug
app/profile
app/release
/app/src/main/res/layout/small_native_ad_custom.xml
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/MetaSdkMethodCallHandler.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/AppUtils.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/OpenCVCore.kt
/app/key.properties
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/SlideNativeAdFactory.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/MainActivity.kt
/app/key_store.jks
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/IntroNativeAdFactory.kt
/app/src/main/res/layout/intro_native_ad.xml
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/SmallNativeCustomAdFactory.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/InAppReviewMethodCallHandler.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/ItemNativeAdFactory.kt
/app/src/main/kotlin/com/ar/draw/sketch/paint/trace/OpenCVMethodCallHandler.kt
/app/src/main/res/layout/slide_native_ad_custom.xml
/app/src/main/res/layout/item_native_ad.xml
